## Input/Output

1. The input() function is used to interact with the user, allowing them to suspend program execution and to enter a sequence (including an empty one) of characters, which is the function's result.

2. If the user presses <Enter> while providing no other input, the input() function returns an empty string as a result.

    For example, the name variable is assigned with a string inputted by the user:

In [3]:
name = input()

 2

3. The input() function accepts an optional argument which is a string; the argument is printed on the screen before the actual input begins.

    For example, the user is prompted to input the name:

In [4]:
name = input('What is your name?')

What is your name? Moiz

4. To convert the user's input into an integer number, the int() function can be used.

5. An operation during which the data changes its type is called type casting.

    For example, the user is asked to input a year of birth. The input is converted into an integer number and assigned to the b_year variable:

In [5]:
b_year = int(input('What is your year of birth?'))

What is your year of birth? 2000

6. To convert the user's input into a float number, the float() function can be used.

    For example, the user is asked to input a height measured in meters. The input is converted into a float number and assigned to the m_stature variable:

In [7]:
m_stature = float(input('What is your height in meters?'))

What is your height in meters? 3

7. If the int() or float() is not able to perform the conversion due to the incorrect contents of the user's input, the ValueError exception is raised.

8. Unless otherwise specified, the printed values are separated by single spaces.

    For example, the following snippet sends 1 2 3 to the screen:

In [8]:
print(1, 2, 3)

1 2 3

9. If the invocation makes use of the sep keyword parameter, the parameter's value (even when it's empty) is used to separate outputted values instead of spaces.

    For example, the following snippet sends 1\*2\*3 to the screen:

In [9]:
print(1, 2, 3, sep='*')

1*2*3

10. Unless otherwise specified, each print() function invocation sends the newline character to the screen before its completion, therefore each print() function's output starts on a new line.

    For example, the following snippet produces two lines of output on the screen:

In [10]:
print('Alpha')
print('Bravo')

Alpha
Bravo

11. If the invocation makes use of the end keyword parameter, the parameter's value is (even when it's empty) used to complete the output instead of the newline.

    For example, the following snippet produces one line of output on the screen:

In [11]:
print('Alpha', end='')
print('Bravo')

AlphaBravo

12. The end and sep parameters can be used together.

    For example, the following snippet produces one line of asterisk-separated letters:

In [12]:
print('A', 'B', sep='*', end='*')
print('C')

A*B*C